<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="COD|氨氮|总磷|总氮|各类重金属|氰化物|VOCs|水质在线监测" />
<meta name="description" content="河北华厚天成环保技术有限公司是专业的环境在线监测仪器制造商的环境监控系统集成商。公司成立于2012年，现注册资本1000万元，公司现有员工约400人。" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>河北华厚天成环保技术有限公司</title>
<link rel="stylesheet" type="text/css" href="/_/App/Home/Public/css/common.css" />
	<link rel="stylesheet" type="text/css" href="/_/App/Home/Public/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/_/App/Home/Public/css/subpage.css" />
<script type="text/javascript" src="/_/App/Home/Public/js/jquery1.11.1.min.js"></script>
	<script type="text/javascript" src="/_/App/Home/Public/js/jquery.SuperSlide.2.1.1.js"></script>
	<script type="text/javascript" src="/_/App/Home/Public/js/form.js"></script>
	<script type="text/javascript" src="/_/App/Home/Public/js/common.js"></script>
	<script type="text/javascript" src="/_/App/Home/Public/js/zx.js"></script>
<script type="text/javascript">
function urlredirect() {
	var sUserAgent = navigator.userAgent.toLowerCase();	
	if ((sUserAgent.match(/(ipod|iphone os|midp|ucweb|android|windows ce|windows mobile)/i))) {
		// 只适用盘古建站，PC跳转移动端
		var resultpage = "/index.php?m=Cnm&c=Index&a=index".replace("/index.php","/zdz/index.php");
		//console.log(resultpage);
		window.location.href = resultpage;
	}
}
urlredirect();
</script>
</head>
<body>
<div class="top">
  <div class="top01">
    <div class="top02">欢迎访问：河北华厚天成环保技术有限公司！</div>
    <div class="top03"><span style="float:left; display:block;">一键分享网站到：</span>
      <div class="bdsharebuttonbox"><a href="{外链}" class="bds_more" data-cmd="more" style=" background:url(/App/Home/Public/images/sh01.jpg) no-repeat center center; padding:4px 12px;"></a><a href="{外链}" class="bds_weixin" data-cmd="weixin" title="分享到微信" style=" background:url(/App/Home/Public/images/sh02.jpg) no-repeat center center; padding:4px 14px;"></a><a href="{外链}" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博" style=" background:url(/App/Home/Public/images/sh03.jpg) no-repeat center center; padding:4px 14px;"></a><a href="{外链}" class="bds_bdhome" data-cmd="bdhome" title="分享到百度新首页" style=" background:url(/App/Home/Public/images/sh04.jpg) no-repeat center center; padding:4px 14px;"></a><a href="{外链}" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友" style=" background:url(/App/Home/Public/images/sh05.jpg) no-repeat center center; padding:4px 14px;"></a></div>
    </div>
  </div>
</div>
<div class="header">
  <div class="header01">
    <div class="logo"><a href="/index.php?m=cn&c=Index&a=index" title="河北华厚天成环保技术有限公司"><img src="/_/App/Home/Public/images/logo.png" alt="河北华厚天成环保技术有限公司" /></a></div>
    <div class="tel">
      <div class="num">服务热线<br>400-997-0809</div>
    </div>
  </div>
</div>
<div class="g_nav">
  <div class="g_nav01">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="now"><a href="/index.php?m=cn&c=Index&a=index" title="网站首页">网站首页            <div></div>
            </a>
            </td><td class=""><a href="/index.php?m=cn&c=About&a=index" title="关于我们">关于我们            <div></div>
            </a>
            </td><td class=""><a href="/index.php?m=cn&c=News&a=index" title="资讯中心">资讯中心            <div></div>
            </a>
                          <div class="nav_tan">
                <a href="/index.php?m=cn&c=News&a=index&tid=241">公司新闻</a><a href="/index.php?m=cn&c=News&a=index&tid=242">行业咨询</a><a href="/index.php?m=cn&c=News&a=index&tid=243">技术资料</a>              </div></td><td class=""><a href="/index.php?m=cn&c=Product&a=index" title="产品展示">产品展示            <div></div>
            </a>
                          <div class="nav_tan">
                <a href="/index.php?m=cn&c=Product&a=index&tid=238">水质分析仪器</a><a href="/index.php?m=cn&c=Product&a=index&tid=237">空气监测仪器</a><a href="/index.php?m=cn&c=Product&a=index&tid=244">水质自动监测站</a><a href="/index.php?m=cn&c=Product&a=index&tid=246">大数据管理平台</a>              </div></td><td class=""><a href="/index.php?m=cn&c=Case&a=index" title="客户案例">客户案例            <div></div>
            </a>
            </td><td class=""><a href="/index.php?m=cn&c=Peijian&a=index" title="资质荣誉">资质荣誉            <div></div>
            </a>
            </td><td class=""><a href="/index.php?m=cn&c=Contact&a=index" title="联系我们">联系我们            <div></div>
            </a>
            </td>      </tr>
    </table>
  </div>
</div>
<div id="slideBox" class="slideBox">
  <div class="hd">
    <ul>
      <li> </li><li> </li><li> </li>    </ul>
  </div>
  <div class="bd">
    <ul>
      <li><a href_="" style=" background:url(/Upload/atm/1A4B2260335905AA8AA6A16E0EE4B37E.jpg) no-repeat top center;"></a></li><li><a href_="" style=" background:url(/Upload/atm/3938BD9FDE44D8B1E972E6F1BE9F61FE.jpg) no-repeat top center;"></a></li><li><a href_="" style=" background:url(/Upload/atm/D5E9C997D0ACAB932027D41263DEF80B.jpg) no-repeat top center;"></a></li>    </ul>
  </div>
  <a class="prev" href="javascript:void(0)"></a> <a class="next" href="javascript:void(0)"></a> </div>
<script type="text/javascript">
		$(function(){
		jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true}); //banner
		jQuery(".slideBox02").slide({mainCell:".bd02 ul",effect:"left",autoPlay:true,trigger:"click"}); //shouye banji
		});
</script> 
<div class="notice">
  <div class="notice01">
    <div class="notice02">网站公告：公司致力于先进的现场环境监测设备及其系统平台的研发和推广...</div>
    <div class="notice03">
      <form action="" method="post">
        <div class="search02">
          <input name="sk" type="text" class="search03" placeholder="请输入搜索关键词" />
        </div>
        <div class="search05">
          <select class="jj" >
            <option value="">搜索分类</option>
            <option value="/index.php?m=cn&c=News&a=index">资讯中心</option><option value="/index.php?m=cn&c=Peijian&a=index">资质荣誉</option><option value="/index.php?m=cn&c=Product&a=index">产品展示</option><option value="/index.php?m=cn&c=Case&a=index">客户案例</option>          </select>
        </div>
        <div class="search02">
          <input name="" type="submit" class="search04" value="" />
        </div>
      </form>
    </div>
  </div>
</div>
<script>
    	$(function(){
			$('.jslct dl dd').click(function(){
				$(this).closest('form').attr('action',$(this).attr('val'));
			});
			/*$(".search_btn").click(function(){
				$(".search01").slideToggle("slow");
			});*/
		})
     </script> 
<div class="index_pro" style="background-image:url(/Upload/atm/DC7293BBFA8D2EBD7299D3E3792DD735.jpg);background-size:100%">
  <div class="index_pro">
    <div class="index_pro01">
      <div class="index_news02" style=" padding-top:32px;">Product<span>产品展示</span></div>
      <div class="index_pro02"> 
        <div class="index_pro03">
          <div class="index_pro06">
              <div class="index_pro04"><a href="/index.php?m=cn&c=Product&a=index&tid=238" title="水质分析仪器">水质分析仪器</a></div>
                <div class="index_pro05">
                  <ul>
                                      </ul>
                </div><div class="index_pro04"><a href="/index.php?m=cn&c=Product&a=index&tid=237" title="空气监测仪器">空气监测仪器</a></div>
                <div class="index_pro05">
                  <ul>
                                      </ul>
                </div><div class="index_pro04"><a href="/index.php?m=cn&c=Product&a=index&tid=244" title="水质自动监测站">水质自动监测站</a></div>
                <div class="index_pro05">
                  <ul>
                                      </ul>
                </div><div class="index_pro04"><a href="/index.php?m=cn&c=Product&a=index&tid=246" title="大数据管理平台">大数据管理平台</a></div>
                <div class="index_pro05">
                  <ul>
                                      </ul>
                </div>            </div>          <div class="index_pro07"><a href="/index.php?m=cn&c=Product&a=index" title="查看更多分类">查看更多分类</a></div>
        </div>
        <div class="index_pro08">
          <dl>
              <a href="/index.php?m=cn&c=Product&a=view&id=1790" title="CODCr型水质在线自动分析仪">
              <dt><img src="/Upload/news/DAFBAE2483EF8A3C8904339F87D3346A.jpg" height="170" alt="CODCr型水质在线自动分析仪" /></dt>
              <dd>CODCr型水质在线自动分析仪</dd>
              </a>
            </dl><dl>
              <a href="/index.php?m=cn&c=Product&a=view&id=1846" title="浮标式水质自动监测站">
              <dt><img src="/Upload/news/89696E238BE66DD63F11DD4C1AA8D8D2.jpg" height="170" alt="浮标式水质自动监测站" /></dt>
              <dd>浮标式水质自动监测站</dd>
              </a>
            </dl><dl>
              <a href="/index.php?m=cn&c=Product&a=view&id=1843" title="微型水质自动监测站">
              <dt><img src="/Upload/news/876D1B295ADA8EA301F7435D38AA6439.jpg" height="170" alt="微型水质自动监测站" /></dt>
              <dd>微型水质自动监测站</dd>
              </a>
            </dl><dl>
              <a href="/index.php?m=cn&c=Product&a=view&id=1842" title="集成式水质自动监测站">
              <dt><img src="/Upload/news/3CBF0A6E9B8C8142DA45C9E7409E9F9D.jpg" height="170" alt="集成式水质自动监测站" /></dt>
              <dd>集成式水质自动监测站</dd>
              </a>
            </dl><dl>
              <a href="/index.php?m=cn&c=Product&a=view&id=1845" title="步入（集装箱）式水质自动监测站">
              <dt><img src="/Upload/news/8F9B88F8DFF004381E4FA173F4B9AAF7.jpg" height="170" alt="步入（集装箱）式水质自动监测站" /></dt>
              <dd>步入（集装箱）式水质自动监测站</dd>
              </a>
            </dl><dl>
              <a href="/index.php?m=cn&c=Product&a=view&id=1847" title="VOCs在线监测系统">
              <dt><img src="/Upload/news/76F7ACFDAE5C796421A0259ED7C34A2A.jpg" height="170" alt="VOCs在线监测系统" /></dt>
              <dd>VOCs在线监测系统</dd>
              </a>
            </dl>        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/_/App/Home/Public/js/jquery.nicescroll.js"></script>
  <script>
$(".index_pro06").niceScroll({
			cursorcolor: "#ececec",
		    cursoropacitymax: 1,
		    touchbehavior: false,
		    cursorwidth: "4",
		    cursorborder: "4",
		    cursorborderradius: "4"			
		});
</script> 
</div>
<div class="clear"></div>
<div class="index_tel" style="background-image:url(/Upload/atm/68896AA6128DBCC5AD2AA7EFD071E673.jpg);background-repeat:no-repeat; background-position:top center;"> 
  <div class="index_tel01"></div>
</div>
<div class="clear"></div>
<div class="index_ser" style="background-image:url(/Upload/atm/85FC9D10DE4C0D1B10EC86CCE0AE456D.jpg);background-repeat:no-repeat; background-position:top center;"> 
</div>
<div class="clear"></div><div class="index_case" style_="background-image:url(/Upload/);background-size:auto 100%">
  <div class="index_news01">
    <div class="index_news02">Case<span>客户案例</span></div>
    <div class="partFourM">
      <div class="left"><img src="/_/App/Home/Public/images/jj.png" alt="向左" class="ctrl" /></div>
      <div class="partFourCon"  id="ScrollBox">
        <ul class="pro">
          <li>
              <div class="index_case01">
                <dl>
                  <a href="/index.php?m=cn&c=Case&a=view&id=1809" title="中德金属生态园">
                  <dt><img src="/Upload/news/DABCE651F81CB55171537129FE50D20B.jpg" height="208" alt="中德金属生态园" /></dt>
                  <dd>中德金属生态园</dd>
                  </a>
                </dl>
              </div>
            </li><li>
              <div class="index_case01">
                <dl>
                  <a href="/index.php?m=cn&c=Case&a=view&id=1806" title="广东省江门市崖门工业园区在线监测项目">
                  <dt><img src="/Upload/news/F5FD4D0B967D215C2F5FBE06801D7C82.jpg" height="208" alt="广东省江门市崖门工业园区在线监测项目" /></dt>
                  <dd>广东省江门市崖门工业园区在线监测项目</dd>
                  </a>
                </dl>
              </div>
            </li><li>
              <div class="index_case01">
                <dl>
                  <a href="/index.php?m=cn&c=Case&a=view&id=1805" title="电镀废水工业园区">
                  <dt><img src="/Upload/news/15915A6FD57C31413D0EDDF7BDE9962A.jpg" height="208" alt="电镀废水工业园区" /></dt>
                  <dd>电镀废水工业园区</dd>
                  </a>
                </dl>
              </div>
            </li>        </ul>
      </div>
      <div class="right"><img src="/_/App/Home/Public/images/jj.png" alt="向右" class="ctrl" /></div>
    </div>
    <script type="text/javascript" src="/_/App/Home/Public/js/index_brand.js"></script>
  </div>
  <div class="index_news05"><a href="/index.php?m=cn&c=Case&a=index" title="— 查看更多 —">— 查看更多 —</a></div>
</div>
<div class="clear"></div>
<div class="index_about" style_="background-image:url(/Upload/);background-repeat:no-repeat; background-position:top center;"> 
  <div class="index_about01">
    <div class="index_about02">
       <div class="index_about08"><img width="463" height="296" src="/_/App/Home/Public/images/aboutt.jpg" alt="河北华厚天成环保技术有限公司" /></iframe>
      </div>
    </div>
    <div class="index_about03">
      <div class="index_about04">关于我们<span>about us</span></div>
      <div class="index_about05">　　河北华厚天成环保技术有限公司是专业的环境在线监测仪器制造商、先进的环境监控系统集成商。公司成立于2012年，现注册资本1000万元，公司现有员工约400人。总部位于河北省邯郸市，拥有华北、华东两家生产基地，研发中心位于北京，拥有6家分支机构，销售、运营网点遍布全国。
　　公司秉承“以人为本，科技引领，智慧环保，服务社会”的理念，建立完善了科学高效的产品体系、营销体系。产品 ...</div>
      <div class="index_about06"><a href="/index.php?m=cn&c=About&a=index" title="查看更多">查看更多</a></div>
    </div>
  </div>
</div>
<div class="clear"></div><div class="index_news" style_="background-image:url(/Upload/);background-size:auto 100%">
  <div class="index_news01">
    <div class="index_news02">NEWS<span>资讯中心</span></div>
    <div class="index_news03">
      <dl>
        <dt><a href="/index.php?m=cn&c=News&a=view&id=1852" title="华厚天成水质在线自动监测系统项目案例">华厚天成水质在线自动监测系统项目案例</a></dt>
        <dd></dd>
        <div class="index_news04">31</div>
      </dl><dl>
        <dt><a href="/index.php?m=cn&c=News&a=view&id=1848" title="【高质量发展加速度】大气颗粒物遥感监测雷达在华厚天成下线">【高质量发展加速度】大气颗粒物遥感监测雷 ...</a></dt>
        <dd>华厚天成科技创新再传喜讯，继水质在线分析监测之后，公司紧跟大气污染防治的发展需求，最 ...</dd>
        <div class="index_news04">26</div>
      </dl><dl>
        <dt><a href="/index.php?m=cn&c=News&a=view&id=1837" title="捐赠设备 助力抢险">捐赠设备 助力抢险</a></dt>
        <dd>　　2015年8月12日，天津港"8.12"瑞海爆炸事故对天津开 ...</dd>
        <div class="index_news04">22</div>
      </dl><dl>
        <dt><a href="/index.php?m=cn&c=News&a=view&id=1836" title="辉煌历程 殷切关怀">辉煌历程 殷切关怀</a></dt>
        <dd>　　河北华厚天成环保技术有限公司自2012年7月成立以来，已经走过了五年跨越发展之路 ...</dd>
        <div class="index_news04">22</div>
      </dl>    </div>
  </div>
  <div class="index_news05"><a href="/index.php?m=cn&c=News&a=index" title="— 查看更多 —">— 查看更多 —</a></div>
</div>
<div class="clear"></div> 
<div class="footer08">
  <table width="1030" border="0" cellspacing="0" cellpadding="0" style=" margin:0 auto;">
  <tr>
    <td><a href="/index.php?m=cn&c=Index&a=index" title="网站首页">网站首页</a></td><td><a href="/index.php?m=cn&c=About&a=index" title="关于我们">关于我们</a></td><td><a href="/index.php?m=cn&c=News&a=index" title="资讯中心">资讯中心</a></td><td><a href="/index.php?m=cn&c=Product&a=index" title="产品展示">产品展示</a></td><td><a href="/index.php?m=cn&c=Case&a=index" title="客户案例">客户案例</a></td><td><a href="/index.php?m=cn&c=Peijian&a=index" title="资质荣誉">资质荣誉</a></td><td><a href="/index.php?m=cn&c=Contact&a=index" title="联系我们">联系我们</a></td>  </tr>
</table>
</div>
<div class="footer04">
  <div class="footer01">
    <div class="footer05">
      <div class="footer06"><span>contact us</span>联系我们</div>
      <Div class="footer07"><span>ADDRESS</span>河北省邯郸市开发区和谐大街19号中小企业加速器园区2-C</Div>
      <Div class="footer07" style=" background:url(/App/Home/Public/images/fn02.jpg) no-repeat;"><span>LANDLINE</span>0310-5300629<br /><br />400-997-0809</Div>
    </div>
    <div class="f_link">
      <div class="footer06"><span>my links</span>友情链接</div>
      <div class="f_link01">
        <ul>
            <li><a href="{外链}" target="_blank" title="百度">百度</a></li>        </ul>
      </div>
    </div>   
    <div class="f_er">
        <div class="footer06"><span>QR code</span>关注我们</div>
        <div class="f_er01"><img src="/index.php?m=cn&c=Base&a=creatCode" width="116" height="116" alt="二维码" />拿出手机扫一扫</div>
      </div> 
  </div>
</div>
<div class="footer">
  <div class="footer01">
    <div class="footer02"><a href="https:/beian.miit.gov.cn/" target="_blank" title="ICP备案编号：冀ICP备17012415号-1">ICP备案编号：冀ICP备2022001479号-1</a>      版权所有：河北华厚天成环保技术有限公司</div>
  </div>
</div>
</body>
</html>