@charset "utf-8";
/*■■■■■■■■　共同设定 ■■■■■■■■*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,table,tr,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ul,ul li,input, dl, dd {  padding:0; margin:0; list-style-type:none;}
img,a img{border:0;margin:0;padding:0;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
a{text-decoration:none; color:#444;-moz-transition: all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
a:hover{text-decoration:none; }
.clear{clear:both;}
/* HTY Common Atom*/
.clear{background:none;border:0;clear:both;display:block;float:none;font-size:0;overflow:hidden;visibility:hidden;width:0;height:0;}
.clear-fix:after{content:"."; display:block; height:0; font-size:0; clear:both; visibility:hidden;}
.fl{float:left;}
.fr{float:right;}
.c_b{clear:both;}
textarea{resize:none; overflow:auto;}
/*■■■■■■■■　基本设定　■■■■■■■■*/
body{font-family:"微软雅黑"; font-size:12px; color:#535353; overflow-x:hidden; margin:0 auto;}
/*.theme_color{background:#00beaf;}
.theme_color1{background:#ee0062;}
.theme_color2{background:#222;}*/
.wl_1004{width:1004px; margin:0 auto; position:relative;}
/*-----------------  ■ common -------------------*/
.rollover:hover img{opacity:0.7; filter:alpha(opacity=70); -ms-filter:"alpha(opacity=70)"; -khtml-opacity:0.7; zoom:1;}
.main{width:1120px; margin:0 auto; position:relative;}
/*-----------------  ■ top -------------------*/
.top{ background:#fff; line-height:41px;border-bottom:#ebebeb solid 1px; height:41px; overflow:hidden;}
.top01{ width:1004px; margin:0 auto; color:#6c6c6c; height:41px; font-size:14px; }
.top02{ float:left;}
.top03{ float:right; width:278px;}
/*-----------------  ■ header -------------------*/
.header{width:100%; height:124px; background:#f8f8f8; position:relative;}
.header01{width:1004px; margin:0 auto;height:124px;}
.header .logo{float:left;}
.header .tel{float:right;font-size:14px; color:#555; padding-left:44px; background:url(../images/tel01.png) no-repeat left center; line-height:18px; margin-top:31px;}
.header .tel .title{}
.header .tel .num{ font-size:20px; color:#3aa314; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
.header .liuyan{float:right; line-height:36px; height:36px; font-size:16px; color:#5a5a5a;padding-left:44px; background:url(../images/tel02.png) no-repeat left center; margin:32px 9px 0 34px;}
.header .liuyan a{ color:#5a5a5a;}
.header .liuyan a:hover{ color:#0256ac;}
/*------search-------*/
.isearch{float:right; width:30px; height:30px; margin:16px 0 0; position:relative;}
.isearch span{ display:block; height:30px;background:url(../images/search.png) center top no-repeat; }
/*.search01{float:right; width:202px; height:30px; background-color:#fff; border-radius:15px; margin-top:20px; border:1px solid #ccc;}
.search02{ float:left;}
.search02 input.search03{width:80px; font-size:12px; color:#333; height:30px; line-height:30px; margin-left:15px; border:none; outline:none; float:left;}
.search01 input.search04{width:18px; height:30px; float:right; background-image:url(../images/index_icon02.png); border:none; background-repeat:no-repeat; background-position:center; outline:none; background-color:#fff; cursor:pointer; margin-right:15px;}
.search05{float:left; width:74px; height:30px; line-height:30px; background-image:url(../images/index_icon01.png); background-repeat:no-repeat; background-position:59px 13px;}*/
.search01{ dis/play:none; posit/ion:absolute; to/p:30px; ri/ght:290px;  width:242px; height:39px; background:url(../images/ss01.png) repeat; z-index:999;}
.search02{ float:left; height:47px;}
.search02 input.search03{  background:none;width:160px; padding-left:7px; font-size:15px; font-family:'微软雅黑'; height:47px; line-height:47px; font-size:14px; border:none; color:#9a9a9a; background:#fff; mar/gin-top:15px; background:none;}
.search02 input.search04{ width:29px; font-size:15px; color:#fff; font-family:'微软雅黑'; height:27px; line-height:27px; border:none; border:0; background:#9c541a; cursor:pointer; text-align:center; background:url(../images/ss02.png) no-repeat center center; margin-top:10px; margin-left:20px;}
.search05{ float:left; width:100px; padding:0 0 0 1px; line-hei/ght:47px;}
.search_btn{ pos/ition:absolute; to/p:30px; rig/ht:250px; cur/sor:pointer; }
.jslct{color:#9a9a9a; font-family:"Microsoft YaHei"; display:inline-block; zoom:1; font-size:15px; position:relative; cursor:default; line-height:47px; width:100px; background:url(../images/ss01.png) no-repeat 80px center;}
.jslct div.jslct_t {position:relative; padding-left:5px;z-index:2;*display:block!important;*display:inline;zoom:1;}
.jslct em {font-style:normal; display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color:#9a9a9a;}
.jslct dl, .jslct dl dd {padding:0;margin:0;list-style:none}
.jslct dl {background:#0256ac;position:absolute;top:47px;left:0;cursor:default; width:80px; padding:0; overflow:hidden;z-index:1;display:none; font-size:14px;}
.jslct dl dd { box-sizing:border-box;text-align:center;line-height:28px; border-/bottom:#ccc solid 1px; white-space:nowrap;cursor:pointer;-moz-transition: all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s; color:#fff;}
.jslct dl dd:hover {color:#fff; background:#3aa314;}
.jslct dl dd.hover {color:#fff; background:#3aa314;}
/*********nav*********/
.g_nav{ width:100%;width:1004px; margin:0 auto; position:absolute; top:140px; border-top:#fcfcfc solid 1px; left:50%; margin-left:-502px; z-index:999;}
.g_nav01{height:45px; background:#0256ac;}
.g_nav01 table{float:left; width:100%;}
.g_nav01 table tr td{text-align:center; height:45px; position:relative; line-height:45px;}
.g_nav01 a{display:block; color:#fff; font-size:14px; position:relative;}
.g_nav01 td.now{backg/round:#3aa314;}
.g_nav01 td:hover{background:#3aa314;}
.g_nav01 a.now div{width:65px; height:3px; background:#fff; position:absolute; top:25px;}
.g_nav01 a span{font-size:12px; color:#baa58c;}
.g_nav01 table tr td .nav_tan{ display:none; width:100%; position:absolute; left:0; top:45px; padding:5px 0 10px 0; background:#3aa314; opacity:0.95; z-index:100;}
.g_nav01 table tr td .nav_tan a{ width:90%; margin:0 auto; line-height:30px; height:30px; overflow:hidden; font-size:13px;}
/*********footer*********/
.footer{height:43px; line-height:43px; width:100%; clear:both; background:#044c96;}
.footer01{ width:995px; margin:0 auto; font-size:13px; color:#fff;}
.footer01 a{ color:#fff;}
.footer01 a:hover{ text-decoration:underline;}
.footer02{ float:left;}
.footer03{ float:right;}
.footer04{ height:353px; padding-top:27px; margin:0 auto; background:#0256ac;}
.footer05{ float:left; width:440px; height:307px; border-right:#1c67b4 solid 1px;}
.footer06{ font-size:16px; color:#fff; padding-top:2px;}
.footer06 span{ font-size:20px; font-weight:bold; display:block; text-transform:uppercase;}
.footer07{ padding-left:40px; background:url(../images/fn01.jpg) no-repeat; color:#fff; margin:52px 0 9px; font-size:14px; text-transform:uppercase;}
.footer07 span{ display:block; background:url(../images/fn03.jpg) no-repeat left bottom; padding:3px 0 14px; margin-bottom:14px;}
.f_link{ width:315px; float:left; padding-left:67px;}
.f_link01{ padding-top:42px;}
.f_link01 ul li{ float:left; background:url(../images/f04.jpg) no-repeat left bottom; width:145px; line-height:44px; height:44px; overflow:hidden; font-size:14px; margin-right:10px;}
.f_link01 ul li a{ color:#fff;}
.f_er{ width:116px; float:right;}
.f_er01 img{ margin-bottom:8px; margin-top:55px;}
.footer08{ height:47px; font-size:14px; line-height:47px; text-align:center; border-top:#e0dede solid 1px; border-bottom:#e0dede solid 1px;}
.footer08 a{ color:#0256ac;}
.footer08 a:hover{ text-decoration:underline;}