@charset "utf-8";
/*-------------------------------   index 首页---------------------------------*/
/*-----首页 banner-----*/
.slideBox{ width:100%; height:425px; overflow:hidden; position:relative; border-bottom:#fff solid 1px;}
.slideBox .hd{  overflow:hidden; position:absolute; right:0; bottom:20px; width:100%; z-index:1;}
.slideBox .hd ul{ overflow:hidden; zoom:1; flo/at:left; text-align:center; width:100%;}
.slideBox .hd ul li{ fl/oat:left; display:inline-block; width:12px; height:12px; margin:0 6px; border-radius:6px; text-align:center; background:#222; cursor:pointer; font-size:0;}
.slideBox .hd ul li.on{ background:#3aa314; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle;height:583px; }
.slideBox .bd li a{ display:block; height:425px;}
.slideBox .bd img{ width:450px; height:425px; display:block;  }
.slideBox .prev,
.slideBox .next{ display:none; position:absolute; left:3%; top:50%; margin-top:-30px; width:30px; height:60px; background:url(../images/arrow_left.png) no-repeat; }
.slideBox .next{ left:auto; right:3%; background:url(../images/arrow_right.png) no-repeat;}
.slideBox .prev:hover,
.slideBox .next:hover{opacity: .7;filter: alpha(opacity=70);-ms-filter: "alpha(opacity=70)";-khtml-opacity: .7;}
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }
/*---造型index-----*/
.izao{ background:url(../images/k4.png) center bottom no-repeat; height:576px}
.slideBox02{ width:1000px; height:427px; overflow:hidden; position:relative;padding:48px 0 0 }
.slideBox02 .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox02 .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox02 .hd ul li{ float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox02 .hd ul li.on{ background:#f00; color:#fff; }
.slideBox02 .bd02{ position:relative; height:427px; z-index:0; width:1000px; margin:0 auto; overflow:hidden; }
.slideBox02 .bd02 li{ zoom:1; vertical-align:middle;height:427px; }
.slideBox02 .bd02 li .img{ float:left;width:306px; height:427px;}
.slideBox02 .prev,
.slideBox02 .next{ position:absolute; right:58px; bottom:50px; margin-top:-37px; display:block; width:63px; height:38px; background:url(../images/k2.gif) no-repeat;}
.slideBox02 .next{ width:58px; left:auto; right:0; background:url(../images/k3.gif) no-repeat;}
.slideBox02 .prev:hover,
.slideBox02 .next:hover{opacity: .7;filter: alpha(opacity=70);-ms-filter: "alpha(opacity=70)";-khtml-opacity: .7;}
.slideBox02 .prevStop{ display:none;  }
.slideBox02 .nextStop{ display:none;  }
.izright{ float:left; width:648px; padding:0 0 0 40px;}
.izright h2{ font-size:24px; color:#fff; padding:50px 0 0}
.izright h4{ font-size:16px; color:#fff; padding:5px 0 0}
.izright span{ display:block; line-height:33px;font-size:14px; color:#fff; padding:40px 0 0 }
.izao_amore{ position: absolute; right:0; top:195px; color:#fff; text-transform:uppercase; font-size:24px; z-index:22;}
/*---成果----*/
.icheng h2{ background:url(../images/k4.gif) left  top no-repeat; height:66px; color:#666666; font-size:14px; padding:45px 0 0 88px;}
.icheng h2 label{ font-size:24px; color:#000;}
.accordion{
width: 1180px;
overflow: hidden;
height: 330px;
margin:44px auto 0;
}
.accordion ul li{ margin:0 1px 0 0; overflow:hidden;
background-repeat: no-repeat;
float: left;
width: 180px;
height: 330px;
cursor: pointer; position:relative;
}
.accordion ul li.active{
width: 460px;
}
.accordion ul li a{
display: block;
width: 180px;
height: 330px;
cursor: pointer;
}
.accordion ul li a span{ position:absolute; left:0; top:0; background:rgba(0,0,0,0.6);width: 460px; transition:0;
height: 330px;}
.accordion ul li.active span{ display:none;}
.accordion ul li .iccon{ position:absolute; left:0; top:0; z-index:1; padding-left:32px;width: 428px;height: 330px; display:none;}
.accordion ul li.active .iccon{ display:block;}
.accordion ul li .iccon h4{ font-size:14px; color:#fff; padding:230px 0 0; height:30px;}
.accordion ul li .iccon h4 b{ font-size:24px;}
.accordion ul li .iccon p{ font-size:16px; color:#fff; padding:10px 0 0}
.ic_more{ display:block; width:100%;  color:#fff; font-size:20px; line-height:48px; text-align:center; margin:29px 0 0}
/*---行业动态-----*/
.inew{ height:501px;  margin-top:83px}
.in_fl{ float:left; width:466px; padding:0 0 0 28px }
.in_name{ display:block; font-size:24px; color:#fff; padding:52px 0 16px; background:url(../images/k5.gif) left bottom no-repeat;}
.inew_ul{ display:block; padding:6px 0 0}
.inew_ul li{ float:left; width:100%; margin: 30px 0 0  0;}
.inew_ul li img{ float:left;}
.inew_ul li .irr{ float:right; width:312px;}
.inew_ul li .irr h4{ font-size:18px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; color:#fff;padding:5px 0 0}
.inew_ul li .irr span{ display:block; font-size:14px; line-height:21px; height:42px;overflow:hidden; color:#fff; padding:7px 0 0}
.inew_ul li a:hover h4{ color:#ee0049}
/*---风采----*/
.ifeng_fr{ float:right; width:467px; background:url(../images/k5.png) right bottom no-repeat; height:452px;}
.if_con{ padding:65px 0 0 37px; }
.if_con img{ float:left;}
.if_crr{ float:right; width:188px; padding:0 25px 0 0}
.if_crr h4{ font-weight:bold; font-size:24px; color:#fff; display:block; padding:100px 0 0;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.if_crr span{ display:block; font-size:16px; color:#fff; padding:5px 0 0; line-height:20px; height:80px; overflow:hidden;}
.if_crr .icc{ color:#fff; font-size:16px;}
/*book*/
.ibook h2{ text-align:center; padding:70px 0 0}
.message{float:left; padding:45px 0 0}
.message input,.message textarea{float:left;margin-bottom:11px;border:1px solid #000;line-height:40px;height:40px;text-indent:20px;color:#999999; font-size:14px; font-family:微软雅黑;}
.message textarea{height:144px; }
.inp_fl{ float:left; width:362px; padding-right:16px;}
.yzm{width:100%; margin:20px 0 0}
.message .subbut{border:0;width:100%;height:46px;line-height:46px;color:#fff;font-size:16px;font-family:"Microsoft Yahei"}
.viewcon{overflow:hidden;ma/rgin:0 12px 36px;width:940px;display:inline;word-break:break-all;color:#6c4c30;font-size:14px;float:left;padding:0 20px 20px;line-height:30px;font-size:14px}
.focus { width:358px !important; height:38px !important; border:2px solid #ee0049 !important;}
.focus1 { width:618px !important; height:142px !important; border:2px solid #ee0049 !important;}
/*圆圈分类*/
.circle_bg{height:0; width:1004px; margin:0 auto; position:relative;}
.circle_b{top:-100px; position:absolute; z-index:5;}
.circle_type{width:200px; height:200px; float:left; background-color:#f00; border-radius:100%; margin:0 24px; overflow:hidden; background-repeat:no-repeat; background-position:center;}
.circle_type a{display:block;}
.circle_type .titlea{width:55px; height:57px; border:4px solid #fff; margin-left:65px; margin-top:68px; font-size:20px; color:#fff; padding-left:10px;}
/*首页两条咨询*/
.two_news{width:1440px; height:250px; clear:both;}
.two_news_b{width:1004px; margin:0 auto;}
.two_news_b li{float:left; width:490px; height:190px; background-color:#4f1c00;}
.two_news_b li+li{margin-left:20px;}
.two_news_b li a{display:block;}
.two_news_b .img{float:left; width:201px; height:151px; background-position:center; background-repeat:no-repeat; background-size:cover; margin-left:20px; margin-top:20px;}
.two_news_b .infob{float:left; width:235px; padding-left:20px; padding-top:30px;}
.two_news_b .title{font-size:18px; line-height:18px; color:#ff9a64;}
.two_news_b .other{clear:both; color:#8e502f; font-size:14px; line-height:16px; padding-top:15px;}
.two_news_b .time{float:left; background-image:url(../images/two_itemicon1.png); background-repeat:no-repeat; padding-left:25px;}
.two_news_b .looks{float:left; background-image:url(../images/two_itemicon2.png); background-repeat:no-repeat; padding-left:25px; margin-left:25px; background-position:0 3px;}
.two_news_b .msg{font-size:14px; line-height:28px; color:#c9987d; clear:both; padding-top:10px;}
/*首页产品中心*/
.pro_bg{width:100%; margin:0 auto; height:171px; background-size:cover;}
.pro_b{width:1004px; height:100%; margin:0 auto; background-image:url(../images/index_bg02.png); background-repeat:no-repeat; background-position:center;}
.pro_b .title_b{text-align:center; float:left; width:115px;}
.pro_b .title_b .zh{font-size:28px; line-height:28px; color:#999; padding-top:48px;}
.pro_b .title_b .zh span{color:#00935a;}
.pro_b .title_b .en{font-size:18px; line-height:18px; color:#ccc; padding-top:20px;}
.pro_b ul{float:left; padding-top:30px; padding-left:125px;}
.pro_b li{float:left; width:110px; height:112px; border-radius:100%; overflow:hidden;}
.pro_b li+li{margin-left:20px;}
.pro_b li a{display:block; width:100%; height:100%;}
.pro_b li a div{font-size:12px; line-height:12px; color:#999; padding-top:70px; text-align:center;}
.pro_imgsbg{width:100%; height:495px; background-color:#f5f5f5; clear:both;}
.pro_imgsbg .itema{width:491px; height:435px; padding-top:20px; float:left; border-left:1px solid #00935a; margin-top:20px; background-color:#fff;}
.pro_imgsbg .itema .img_b{width:452px; height:356px; background-repeat:no-repeat; background-position:center; margin:0 auto; background-size:auto 100%;}
.pro_imgsbg .itema .title{font-size:20px; line-height:20px; color:#666; text-align:center; padding-top:15px;}
.pro_imgsbg .itema .intro{font-size:14px; line-height:14px; color:#999; text-align:center; padding-top:10px;}
.pro_imgsbg .itema:hover .title{color:#ff7304;}
.pro_imgsbg .r_b{float:left; width:512px;}
.pro_imgsbg .itemb{width:235px; height:198px; padding-top:20px; float:left; margin-top:20px; margin-left:20px; background-color:#fff;}
.pro_imgsbg .itemb .img_b{width:195px; height:146px; background-repeat:no-repeat; background-position:center; margin:0 auto; background-size:auto 100%;}
.pro_imgsbg .itemb .title{font-size:14px; line-height:14px; color:#666; text-align:center; padding-top:15px;}
.pro_imgsbg .itemb:hover .title{color:#ff7304;}
/*首页联系我们*/
.icontact{width:100%; height:481px; background-color:#29cb84;}
.icontact .allmap{width:492px; height:300px; float:left;}
.icontact .title_b{width:1004px; height:107px; margin:0 auto; background-image:url(../images/index_bg03.png); background-repeat:no-repeat; background-position:center;}
.icontact .title_b .zh{font-size:28px; line-height:28px; color:#fff; padding-top:16px; text-align:center;}
.icontact .title_b .zh span{color:#fff;}
.icontact .title_b .en{font-size:18px; line-height:18px; color:#fff; padding-top:15px; text-align:center;}
.icontact .rinfo_b{width:472px; float:left; padding-left:40px; padding-top:50px;}
.icontact .rinfo_b .tel_b{height:70px; border-bottom:1px dashed #6adba9; background-image:url(../images/index_icon04.png); background-repeat:no-repeat; background-position:10px 0; line-height:39px; font-size:16px; color:#fff; padding-left:65px;}
.icontact .rinfo_b .addr_b{height:76px; border-bottom:1px dashed #6adba9; background-image:url(../images/index_icon05.png); background-repeat:no-repeat; background-position:10px 18px; line-height:76px; font-size:16px; color:#fff; padding-left:65px;}
.icontact .rinfo_b .email_b{height:71px; background-image:url(../images/index_icon06.png); background-repeat:no-repeat; background-position:10px 21px; line-height:71px; font-size:16px; color:#fff; padding-left:65px;}
/*企业资讯+留言*/
.msgnews_bg{width:1440px; margin:0 auto; height:356px;}
.company_b{float:left; padding-top:105px;}
.company_b li{height:16px; width:452px; background-image:url(../images/company_bg.png); background-repeat:repeat-x; font-size:14px; line-height:16px; margin-top:23px; float:left; margin-right:40px;}
.company_b li a{display:block;}
.company_b li .title{float:left; color:#ff9a64; background-color:#0d0400; padding-right:20px;}
.company_b li .time{float:right; color:#ff9a64; background-color:#0d0400; padding-left:20px;}
.in_msg_b{float:right; width:492px;}
.in_msg_b form{padding-top:95px;}
.in_msg_b label{clear:both; display:block; margin-top:20px;}
.in_msg_b label:after{content:"."; display:block; height:0; font-size:0; clear:both; visibility:hidden;}
.in_msg_b label span{float:left; font-size:14px; line-height:30px; color:#ff9a64; padding-right:20px;}
.in_msg_b label textarea{float:left; width:415px; height:85px; outline:none; border:none; background-color:#4f1c00; color:#fff; font-size:14px; line-height:24px; text-indent:1em;}
.in_msg_b label input{float:left; width:150px; height:30px; border:none; outline:none; background-color:#4f1c00; color:#fff; font-size:14px; text-indent:1em;}
.in_msg_b .name{float:left;}
.in_msg_b .phone{float:left; clear:none; padding-left:40px;}
.in_msg_b .sub_b{clear:both; padding-top:20px; padding-left:76px;}
.in_msg_b .sub_b input{width:80px; height:30px; border:none; outline:none; background-color:#4f1c00; color:#ff9a64; font-size:14px; cursor:pointer;}
/*联系我们+服务之星*/
.contact_b{float:left; width:260px;}
.contact_b .head_bg{height:53px; border-left:8px solid #00beaf; margin-top:24px;}
.contact_b .line_b{border-bottom:1px solid #ddd; height:52px;}
.contact_b .line_b .title{line-height:52px; font-size:24px; color:#666; float:left; padding-left:10px;}
.contact_b .line_b .more{float:right; font-size:16px; line-height:52px; color:#00beaf;}
.contact_b .tel_b .name{font-size:14px; line-height:14px; color:#999; padding-top:20px;}
.contact_b .tel_b .num{font-size:30px; line-height:30px; color:#00beaf; padding-top:15px; font-family:arial;}
.contact_b .allmap{width:258px; height:256px; border:1px solid #ddd; margin-top:12px;}
.index_team{width:820px; float:left; margin-left:40px;}
.index_team .head_bg{height:53px; border-left:8px solid #00beaf; margin-top:24px;}
.index_team .line_b{border-bottom:1px solid #ddd; height:52px;}
.index_team .line_b .title{line-height:52px; font-size:24px; color:#666; float:left; padding-left:10px;}
.index_team .line_b .more{float:right; font-size:16px; line-height:52px; color:#00beaf;}
.index_team .type_col{clear:both; padding-top:15px;}
.index_team .type_col li{float:left; width:78px; height:78px; border:1px solid #02beaf; font-size:18px; color:#999; border-radius:100%; margin-left:15px; margin-right:20px;}
.index_team .type_col li a{display:block; color:#999;}
.index_team .type_col li .title{width:36px; margin:12px auto 0 auto;}
.index_team .team_b{clear:both; padding-top:24px;}
.index_team .team_b li{float:left; width:270px; height:230px; background-color:#f5f5f5;}
.index_team .team_b li+li{margin-left:5px;}
.index_team .team_b li .img{width:270px; height:177px; background-position:center; background-size:cover;}
.index_team .team_b li .name{font-size:20px; height:53px; line-height:53px; text-align:center;}
.index_team .team_b li .name span{font-size:14px; color:#999; padding-left:10px;}
/***********新闻资讯***********/
.index_news{ height:547px; background:#f8f8f8; border-top:#f1f1f1 solid 1px;}
.index_news01{ width:1004px; margin:0 auto;}
.index_news02{ text-align:center; font-size:32px; font-weight:bold; color:#e0e0e0; font-family:Arial; text-transform:uppercase; line-height:27px; padding-top:42px;}
.index_news02 span{ background:url(../images/tit.png) no-repeat center center; font-family:'微软雅黑'; display:block; font-size:24px; color:#0256ac;}
.index_news03{ width:106%; padding-top:28px; overflow:hidden;}
.index_news03 dl{ float:left; margin:0 60px 30px 28px; position:relative; width:376px; height:145px; background:#fff; border:#e7e7e7 solid 1px; padding:0 20px 0 46px;}
.index_news03 dl dt{ font-size:18px; padding-top:20px; height:24px; overflow:hidden;}
.index_news03 dl dt a{ color:#5d5d5d;}
.index_news03 dl dt a:hover{ color:#0256ac;}
.index_news03 dl dd{ margin-top:15px; line-height:24px; font-size:14px; color:#5d5d5d; height:65px; overflow:hidden; background:url(../images/n01.jpg) no-repeat left bottom;}
.index_news04{ position:absolute; top:33px; left:-29px; width:56px; height:56px; line-height:56px; text-align:center; background:#0256ac; color:#fff; font-size:36px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
.index_news05{}
.index_news05 a{ width:139px; height:26px; line-height:26px; border:#c5c5c5 solid 1px; display:block; text-align:center; margin:0 auto; font-size:14px; color:#6d6d6d;}
.index_news05 a:hover{ color:#0256ac; border:#0256ac solid 1px; }
/***********关于我们***********/
.index_about{ height:388px;}
.index_about01{ width:1004px; margin:0 auto;}
.index_about02{ float:left;}
.index_about03{ float:right; width:465px; padding-top:67px;}
.index_about04{ font-size:24px; color:#373737; font-weight:bold;}
.index_about04 span{ color:#ccc; padding-left:6px; text-transform:uppercase; font-size:20px; color:#ccc; vertical-align:text-bottom; font-family:'微软雅黑';}
.index_about05{ font-size:14px; line-height:26px; height:156px; color:#656565; margin-top:16px;}
.index_about06{ padding-top:22px;}
.index_about06 a{ display:block; width:89px; height:26px; line-height:26px; border:#0255ab solid 2px; text-align:center; font-size:14px; color:#0256ac;}
.index_about07{ float:left; width:17px; line-height:18px; padding:16px 10px 0; height:175px; border:#e1e8ee solid 2px; border-right:none; margin-top:57px; font-size:16px; color:#0255ab; overflow:hidden;}
.index_about07 span{ font-size:20px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; display:block; 
-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);
/*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);writing-mode:tb-lr;-webkit-writing-mode: vertical-rl;
*/*word-break:break-all;_word-break:break-all;
}
.index_about08{ float:left; border:#0255ab solid 6px; width:463px; height:296px; overflow:hidden; margin-top:40px;}
/***********案例展示***********/
.index_case{ background:#f8f8f8; height:470px; border-top:#f1f1f1 solid 1px; border-bottom:#f1f1f1 solid 1px;}
.index_case01{ width:290px; height:255px; background:#fff;}
.index_case01 dl dt{ text-align:center; width:278px; height:208px; margin:4px auto 0; border:#e7e7e7 solid 1px; text-align:center;}
.index_case01 dl dt img{ display:inline; max-width:100%;}
.index_case01 dl a dd{ line-height:39px; height:39px; font-size:14px; text-align:center; overflow:hidden; color:#474747;-moz-transition: all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.index_case01 dl a:hover dd{ color:#0256ac;}
/* 品牌滚动*/
.partFourM{width: 1004px;height: 285px; padding-top:25px;}
.left{ width:17px; height:101px; float:left; margin-top:77px; background:url(../images/jj01.jpg) no-repeat;-moz-transition: all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.left:hover{ background:url(../images/jj01_on.jpg) no-repeat;}
.right{ width:17px; height:101px; margin-left:19px; text-align:right; float:left; margin-top:77px; background:url(../images/jj02.jpg) no-repeat;-moz-transition: all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.right:hover{ background:url(../images/jj02_on.jpg) no-repeat;}
.partFourCon{width: 930px;float: left;overflow: hidden;height: 285px;position: relative; margin-left:21px;}
.pro li{float: left;width: 290px;overflow: hidden;height: 255px; border:#e7e7e7 solid 1px; margin-right:30px; background:#fff; display: inline;position: relative; box-shadow:#ddd 0 0 7px;}
/***********售后服务***********/
.index_ser{ height:1688px;}
.index_ser01{ line-height:29px; font-size:24px; color:#020202; text-align:right; font-weight:bold; padding-top:78px;}
.index_ser01 span{ color:#064d95;}
.index_ser02{ float:right; width:420px; height:145px; background:#ebf7fb url(../images/ser02.png) no-repeat 458px 26px; border:#deeef4 solid 1px; padding:20px 44px 0 30px; font-size:16px; line-height:31px; color:#303030; margin-top:36px; text-align:right; overflow:hidden;}
.index_ser03{ float:right; padding:78px 204px 0 0;}
.index_ser03 a{ display:block; font-size:18px; color:#fff; width:79px; height:43px; line-height:42px; background:url(../images/ser03.png) no-repeat; padding:0 54px 0 18px;}
/***********咨询热线***********/
.index_tel01{ height:255px; width:1004px; margin:0 auto;}
.index_tel02{ padding:183px 0 0 678px; color:#fff; font-size:18px; font-family:'宋体'; line-height:24px;}
.index_tel02 span{ display:block; font-size:20px; font-weight:bold; color:#fff; font-family:Arial; letter-spacing:-0.04rem;}
/***********公告一行***********/
.notice{ background:#f8f8f8;}
.notice01{ width:1004px; margin:0 auto; height:47px; border-bottom:#d9d9d9 solid 2px;}
.notice02{ float:left; line-height:47px; font-size:14px; color:#6c6c6c;}
.notice03{ float:right; height:47px;}
/***********设备展示***********/
.index_pro{ height:590px; background:#f8f8f8;}
.index_pro01{ width:1004px; margin:0 auto;}
.index_pro02{ margin-top:30px; height:436px; background:#0256ac; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.index_pro03{ padding:0 10px; float:left; width:206px; height:410px; padding-top:15px; background:#fff; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin:5px;}
.index_pro04{ margin-bottom:1px;}
.index_pro04 a{  height:43px; line-height:43px;font-size:16px; color:#fff; text-align:center; overflow:hidden; display:block;background:#0256ac;-moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.index_pro04 a:hover{ background:#217100;}
.index_pro05{}
.index_pro05 ul li{ text-align:center; border-bottom:#d0d0d0 solid 1px;}
.index_pro05 ul li a{ display:block; font-size:14px; color:#3f3f3f; line-height:44px; height:44px; display:block; overflow:hidden;}
.index_pro05 ul li a:hover{ color:#0256ac;}
.index_pro05 ul li:last-child{ border:none;}
.index_pro06{height:355px; overflow:auto;}
.index_pro07{  }
.index_pro07 a{  height:43px; line-height:43px;font-size:16px; color:#fff; text-align:center; overflow:hidden; display:block;background:#217100;-moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
.index_pro08{ float:right; width:753px; padding-top:15px;}
.index_pro08 dl{ float:left; width:230px; margin:0 21px 6px 0;}
.index_pro08 dl dt{ width:228px; height:170px; background:#fff; border:#e4e4e4 solid 1px; text-align:center;}
.index_pro08 dl dt img{ max-width:100%;}
.index_pro08 dl dd{ text-align:center; line-height:34px; height:34px; text-align:center; color:#f8f8f8; font-size:14px; overflow:hidden;}